@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<dynamic>
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - فروشگاه آنلاین</title>

    <!-- فونت‌ها -->
    <link rel="stylesheet" href="~/css/vendor/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vendor/materialdesignicons.css" asp-append-version="true" />

    <!-- پلاگین‌ها -->
    <link rel="stylesheet" href="~/css/vendor/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vendor/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vendor/nice-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vendor/jquery.jqZoom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vendor/sweetalert2.min.css" asp-append-version="true" />

    <!-- استایل اصلی -->
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="post-item-profile order-1 d-block">
        <div class="col-lg-3 col-md-3 col-xs-12 pr">
            <div class="sidebar-profile sidebar-navigation">
                <section class="profile-box">
                    <header class="profile-box-header-inline">
                        <div class="profile-avatar user-avatar profile-img">
                            <img src="~/Img/man.png" alt="تصویر کاربر" />
                        </div>
                    </header>

                    <footer class="profile-box-content-footer">
                        <span class="profile-box-nameuser">
                            @ViewData["FirstName"] @ViewData["LastName"]
                        </span>
                        <span class="profile-box-registery-date">
                            عضویت: @ViewData["CreatedAt"]
                        </span>
                        <span class="profile-box-phone">
                            شماره همراه: @ViewData["PhoneNumber"]
                        </span>
                        <div class="profile-box-tabs mt-2">
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="btn btn-danger">خروج از حساب</button>
                            </form>
                        </div>
                    </footer>
                </section>

                <section class="profile-box">
                    <ul class="profile-account-navs">
                        <li class="profile-account-nav-item">
                            <a asp-page="/ProfileCustomer" class="active">
                                <i class="mdi mdi-account-outline"></i> پروفایل
                            </a>
                        </li>
                        <li class="profile-account-nav-item">
                            <a asp-page="/OrderProfile">
                                <i class="mdi mdi-cart"></i> همه سفارش‌ها
                            </a>
                        </li>
                        <li class="profile-account-nav-item">
                            <a asp-page="/Cart">
                                <i class="mdi mdi-heart"></i> سبد خرید
                            </a>
                        </li>
                       @*  <li class="profile-account-nav-item">
                            <a asp-page="/Addresses">
                                <i class="mdi mdi-map-outline"></i> آدرس‌ها
                            </a>
                        </li> *@
                        @* <li class="profile-account-nav-item">
                            <a asp-page="/Comments">
                                <i class="mdi mdi-email-open-outline"></i> نظرات
                            </a>
                        </li> *@
                        <li class="profile-account-nav-item">
                            <a asp-page="/AccountInfo">
                                <i class="mdi mdi-tooltip-text-outline"></i> اطلاعات حساب
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-xs-12 pl">
            @RenderBody()
        </div>
    </div>

    <!-- اسکریپت‌ها -->
    <script src="~/js/vendor/jquery-3.2.1.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/vendor/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/jquery.countdown.js" asp-append-version="true"></script>
    <script src="~/js/vendor/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/jquery.jqZoom.js" asp-append-version="true"></script>
    <script src="~/js/vendor/sweetalert2.all.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
