@page
@model OnlineFruitShop.Pages.ProfileModel
@{
    Layout = "Shared/_LayoutProfile";
}
<div class="container mt-4">
    <h2 class="mb-4">ویرایش اطلاعات کاربری</h2>

    <form method="post">
        <input type="hidden" name="User.Id" value="@Model.User.Id" />

        <h4 class="mt-3">اطلاعات کاربر</h4>
        <div class="row">
            <div class="col-md-4">
                <label>نام:</label>
                <input type="text" class="form-control" name="User.FirstName" value="@Model.User.FirstName" />
            </div>
            <div class="col-md-4">
                <label>نام خانوادگی:</label>
                <input type="text" class="form-control" name="User.LastName" value="@Model.User.LastName" />
            </div>
            <div class="col-md-4">
                <label>شماره تلفن همراه:</label>
                <input type="text" class="form-control" name="User.PhoneNumber" value="@Model.User.PhoneNumber" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label>ایمیل:</label>
                <input type="email" class="form-control" name="User.Email" value="@Model.User.Email" />
            </div>
            <div class="col-md-4">
                <label>نام کاربری:</label>
                <input type="text" class="form-control" name="User.UserName" value="@Model.User.UserName" />
            </div>
        </div>

        <h4 class="mt-4">اطلاعات آدرس</h4>
        <div class="row">
            <div class="col-md-4">
                <label>خیابان:</label>
                <input type="text" class="form-control" name="User.Address.Street" value="@Model.User.Address?.Street" />
            </div>
            <div class="col-md-4">
                <label>شهر:</label>
                <input type="text" class="form-control" name="User.Address.City" value="@Model.User.Address?.City" />
            </div>
            <div class="col-md-4">
                <label>استان:</label>
                <input type="text" class="form-control" name="User.Address.State" value="@Model.User.Address?.State" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label>کشور:</label>
                <input type="text" class="form-control" name="User.Address.Country" value="@Model.User.Address?.Country" />
            </div>
            <div class="col-md-4">
                <label>کد پستی:</label>
                <input type="text" class="form-control" name="User.Address.PostalCode" value="@Model.User.Address?.PostalCode" />
            </div>
            <div class="col-md-4">
                <label>پلاک:</label>
                <input type="number" class="form-control" name="User.Address.plaque" value="@Model.User.Address?.plaque" />
            </div>
        </div>

        <div class="form-actions mt-4">
            <button type="submit" class="btn btn-success">ذخیره</button>
            <a href="/Profile" class="btn btn-secondary">لغو</a>
        </div>
    </form>
</div>