@page
@model OnlineFruitShop.Pages.UpadeUserProfileModel
@{
}



@* <div class="col-lg-9 col-md-9 col-xs-12 pl">
    <div class="profile-content">
        <div class="profile-stats">

            <form class="form" method="post" asp-page-handler="OnPost">
                <input type="hidden" id="projectinput3" class="form-control" name="Id" value="@Model.Customer?.Id" readonly="readonly">
                <input type="hidden" id="projectinput3" class="form-control" name="AddressId" value="@Model.Customer?.AddressId" readonly="readonly">
                <input type="hidden" id="projectinput3" class="form-control" name="UserId" value="@Model.Customer?.UserId" readonly="readonly">


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="title">نام  :</div>
                            <input type="text" id="projectinput3" class="form-control" name="FirstName" value="@Model.Customer?.FirstName">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="title">نام خانوادگی :</div>
                            <input type="text" id="projectinput3" class="form-control" name="LastName" value="@Model.Customer?.LastName">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="title">شماره تلفن همراه:</div>
                            <input type="text" id="projectinput3" class="form-control" name="PhoneNumber" value="@Model.Customer?.PhoneNumber">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="title">تاریخ عضویت:</div>

                            <input type="text" id="projectinput3" class="form-control" name="PhoneNumber" value="۱۳۹۹/۰۱/۱۲" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="title"> شهر :</div>
                            <input type="text" id="projectinput3" class="form-control" name="City" value="@Model.Customer?.Address?.City">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="title"> پست الکترونیک :</div>
                            <input type="text" id="projectinput3" class="form-control" name="PhoneNumber" value="@Model.Customer?.User?.UserName">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="title"> خیابان :</div>
                            <input type="text" id="projectinput3" class="form-control" name="Street" value="@Model.Customer?.Address?.Street">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="title"> کد پستی :</div>
                            <input type="text" id="projectinput3" class="form-control" name="PostalCode" value="@Model.Customer?.Address?.PostalCode">
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-danger mr-1">
                        <i class="icon-trash"></i> لغو
                    </button>
                    <button type="submit" class="btn btn-success">
                        <i class="icon-note"></i> ذخیره
                    </button>
                </div>
            </form>

        </div>
    </div>
</div> *@

